<div id="header">
  <div id="logo">
    <a routerLink="/" class="header-text">CS6400 Project</a>
  </div>
  <div *ngIf="!username" id="login">
    <a routerLink="/login" class="header-text">Login/Signup</a>
  </div>
  <div *ngIf="username" id="welcome">
    <span class="header-text">Hello {{username}}</span>
  </div>
</div>
<div id="main-content">
  <router-outlet></router-outlet>
</div>
<div id="footer">
  <div class="footer-text-block">
    <span class="footer-text">E-Commerce site with Recommendation Engine</span>
  </div>
  <div class="footer-text-block">
    <span class="footer-text">Pranshu Trivedi & Nan Qin</span>
  </div>
</div>